#header {
  background-color: #e74c3c;
  color: #fff;
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu li {
  display: inline-block;
}

#menu li a {
  color: #fff;
  padding: 15px 10px;
  display: block;
  text-decoration: none;
}

#menu li a:hover {
  background: #c0392b;
}
